---
import { getCollection } from "astro:content";
import BlogComponentLayout from "../../layouts/BlogComponentLayout.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BlogComponentLayout {...entry.data}>
  <article
    class="prose-sm prose-ol:list-decimal lg:prose dark:prose-invert prose"
  >
    <a href="/blog" class="text-sm">Back to the Blog</a>
    <Content />
    <a href="#top" class="text-sm">Back to top</a>
  </article>
</BlogComponentLayout>
