@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 100deg 73% 85%;
    --color-accent: 30deg 18% 56%;
    --color-text: 30deg 18% 12%;
    --color-background: 30deg 18% 95%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-primary: 30deg 18% 56%;
      --color-accent: 100deg 73% 85%;
      --color-background: 30deg 18% 12%;
      --color-text: 30deg 18% 95%;
    }
  }
  :root[data-theme="dark"] {
    --color-primary: 30deg 18% 56%;
    --color-accent: 100deg 73% 85%;
    --color-background: 30deg 18% 12%;
    --color-text: 30deg 18% 95%;
  }
  :root[data-theme="light"] {
    --color-primary: 100deg 73% 85%;
    --color-accent: 30deg 18% 56%;
    --color-text: 30deg 18% 12%;
    --color-background: 30deg 18% 95%;
  }

  h1,
  h2,
  h3 {
    @apply font-normal;
  }

  html {
    @apply font-light;
  }

  html,
  body {
    @apply w-full;
  }

  section {
    @apply max-w-screen-lg;
  }
}
