---
import Layout from "../layouts/Layout.astro";
import UserAvatar from "../components/UserAvatar.vue";
import "../styles/utils.css";
---

<Layout title="Hi, I'm Ian!">
  <main class="space-y-12 p-4">
    <h1 class="text-4xl mb-4 font-medium relative">Component Library</h1>

    <section class="space-y-4">
      <h2>Vue Components</h2>

      <div>
        <p class="mb-2">
          User Avatar (<code>&lt;Transition&gt;</code> practicing and learning <code
            >@tanstack/query</code
          >)
        </p>
        <p class="mb-2 text-sm">
          Clicking on the avatar fetches a new user. Try double clicking on it!
        </p>

        <UserAvatar client:only="vue" />
      </div>
    </section>
  </main>
</Layout>

<script></script>

<style></style>
