---
import { Icon } from "astro-icon";
interface Props {
  title: string;
  body: string;
  href: string;
  newWindow?: boolean;
}

const { href, title, body, newWindow = false } = Astro.props;
---

<a class="link-card" href={href} target={newWindow ? "_blank" : "_self"}>
  <li>
    <h2 class="text-lg">
      {title}
    </h2>
    <p class="text-sm">
      {body}
      {newWindow && <Icon name="gg:external" class="w-4 align-top inline" />}
    </p>
  </li>
</a>
<style lang="scss">
  .link-card {
    @apply rounded list-none flex bg-primary p-4 transition-all hover:-translate-x-1 hover:-translate-y-1 hover:shadow-sharp shadow-accent;
  }

  .link-card:nth-child(1) {
    @apply col-span-2 row-span-1;
  }
  .link-card:nth-child(2) {
    @apply col-span-3 row-span-2;
  }
  .link-card:nth-child(3) {
    @apply col-span-2;
  }
  .link-card:nth-child(4) {
    @apply col-span-5;
  }

  h2 {
    margin: 0;
    font-size: 1.25rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  .link-card:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--accent-gradient);
  }
  .link-card:is(:hover, :focus-within) h2 {
    color: rgb(var(--accent-light));
  }
</style>
