---
import { Icon } from "astro-icon";
---

<footer class="py-12 bg-primary">
  <div class="container px-2 sm:px-4 mx-auto">
    <h2 class="text-xl">Find or contact me:</h2>
    <ul role="list" class="flex gap-2">
      <li
        class="p-1 transition duration-300 hover:bg-gray-300 rounded-lg group"
      >
        <a href="mailto:hello@wafflemooncake.dev" target="_blank">
          <span class="sr-only">Email</span>
          <Icon
            name="ic:outline-email"
            class="w-8 align-top transition duration-300 inline group-hover:text-black"
          />
        </a>
      </li>
      <li
        class="p-1 transition duration-300 hover:bg-gray-300 rounded-lg group"
      >
        <a href="https://www.linkedin.com/in/ianteoyy" target="_blank">
          <span class="sr-only">LinkedIn</span>
          <Icon
            name="mdi:linkedin"
            class="w-8 align-top transition duration-300 inline group-hover:text-black"
          />
        </a>
      </li>
      <li
        class="p-1 transition duration-300 hover:bg-gray-300 rounded-lg group"
      >
        <a href="https://github.com/ianteoyy" target="_blank">
          <span class="sr-only">Github</span>
          <Icon
            name="jam:github"
            class="w-8 align-top transition duration-300 inline group-hover:text-black"
          />
        </a>
      </li>
    </ul>
  </div>
</footer>
