---
import { Image } from "astro:assets";
import navData from "../data/navData";
import Link from "./Link.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<nav class="bg-primary py-4">
  <div class="container px-2 sm:px-4 mx-auto flex items-center justify-between">
    <a
      href="/"
      id="waffle-icon-container"
      class="font-bungee home-link flex items-end gap-2"
      aria-label="Homepage link"
    >
      <span class="relative w-6 h-6">
        <Image
          id="waffle-icon"
          src="/images/wafflemooncake.png"
          alt="A mooncake with waffle patterns on top"
          width={24}
          height={24}
          class="absolute inset-0 top-0.5"
        />
      </span>
      <h1 class="leading-none text-xl hidden sm:inline">Wafflemooncake</h1>
    </a>
    <ul class="flex items-center gap-8">
      {
        navData.map((data) => (
          <li>
            <Link
              href={data.path}
              text={data.name}
              variant="secondary"
              data-navLink
              external={data.external}
            />
          </li>
        ))
      }
    </ul>
    <ThemeSwitcher />
  </div>
</nav>

<style>
  .home-link:hover .home-icon {
    animation: wiggle 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-iteration-count: 1;
  }

  @keyframes wiggle {
    0%,
    100% {
      rotate: 0;
    }

    40% {
      rotate: 15deg;
    }

    80% {
      rotate: -15deg;
    }
  }

  [aria-current="page"] {
    @apply font-medium pointer-events-none;
  }
</style>

<script>
  const navLinks = document.querySelectorAll("[data-navLink]");
  navLinks.forEach((link) => {
    if (window.location.pathname === link.getAttribute("href")) {
      link.setAttribute("aria-current", "page");
    }
  });

  const waffleIconContainer: HTMLAnchorElement | null = document.querySelector(
    "#waffle-icon-container"
  );
  const waffleIcon: HTMLImageElement | null =
    document.querySelector("#waffle-icon");
  if (waffleIconContainer && waffleIcon) {
    waffleIconContainer.addEventListener("mouseenter", () => {
      waffleIcon.setAttribute("src", "/images/wafflemooncake.gif");
    });
    waffleIconContainer.addEventListener("mouseleave", () => {
      waffleIcon.setAttribute("src", "/images/wafflemooncake.png");
    });
  }
</script>
