---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, subtitle, publishDate } = Astro.props;
---

<Layout title="Wafflemooncake Blog" description={`${title} - ${subtitle}.`}>
  <main class="space-y-12 p-2 sm:p-4 lg:w-max mx-auto">
    <div>
      <h1 class="text-title">{title}</h1>
      <p class="text-sm">{subtitle}</p>
      <p class="mb-4 text-sm">
        Published {publishDate.toISOString().slice(0, 10)}
      </p>
    </div>

    <section>
      <slot />
    </section>
  </main>
</Layout>
